
<img class="d-block w-100" src="~/s3.jpg" alt="First slide">


<header class="about-header text-center container">
    <h1>About Us</h1>
    <p>Your Trusted Source for Quality Laptops</p>
</header>


=<div class="container about-content">
    <div class="row">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>We are committed to providing our customers with the best selection of laptops at competitive prices. Our mission is to make your laptop buying experience convenient and enjoyable.</p>
        </div>
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>Our team of experts is dedicated to helping you find the perfect laptop to meet your needs. Whether you're a student, professional, or gamer, we have the right laptop for you.</p>
        </div>
    </div>
</div>